<div *ngIf="detailContent" class="content-thesis">
  <div class="content-header">
    <h5>CHI TIẾT ĐỀ TÀI</h5>
    <hr>
    <hr>
  </div>
  <div class="content-body">
    <div class="detail">
      <h6>Tên Nhóm: </h6>
      <h6>{{detailContent.groupName}}</h6>
    </div>
    <hr>
    <div class="detail">
      <h6>Tên Đề Tài: </h6>
      <h6>{{detailContent.statement}}</h6>
    </div>
    <hr>
    <div class="detail">
      <h6>Nội Dung: </h6>
      <h6>{{detailContent.description}}</h6>
    </div>
    <hr>
  </div>
  <button class="detail-button" mat-dialog-close>Đóng</button>
</div>
