<div class="container-fluid my-5">
  <div class="row">
    <div class="col-lg-12" id="home">
      <form class="border border-dark rounded" id="formInteractionTemplate" [formGroup]="formInteraction"
            (ngSubmit)="createInteraction(historyComponent,$event)">
        <div class="table-title p-3">
          <div class="row">
            <div class="col-lg-12">
              <h2><b>Đăng câu hỏi</b></h2>
            </div>
          </div>
        </div>
        <div class="row px-4 pt-4 pb-2">
          <div class="col-lg-2">
            <label class="col-form-label" for="chude">Chủ đề</label>
          </div>
          <div class="col-lg-10">
            <input class="input-group" id="chude" placeholder="Nhập chủ đề" formControlName="title">
          </div>
        </div>
        <div class="row px-4 pb-4">
          <div class="col-lg-2">
            <label for="noidung">Nội dung</label>
          </div>
          <div class="col-lg-10">
          <textarea rows="3" id="noidung" (keydown.shift.enter)='this.value = this.value + "\n"'
                    (keydown.enter)="createInteraction(historyComponent,$event)"
                    style="width: 100%" formControlName="content" placeholder="Thêm mới danh sách sinh viên">
          </textarea>
          </div>
        </div>
        <div class="row px-4 pb-4">
          <div class="col-lg-12 d-flex justify-content-end">
            <button class="btn btn-success" (keydown.enter)="createInteraction(historyComponent,$event)">Đăng</button>
          </div>
        </div>
      </form>

      <!--        <div class="border border-dark rounded mt-5" id="table-history">-->
      <!--            <div class="table-responsive p-0 m-0">-->
      <app-history-interaction-student #historyComponent></app-history-interaction-student>
      <!--            </div>-->
      <!--        </div>-->
    </div>
  </div>
</div>
<!-- Button trigger modal -->

