body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

#chude {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 1300px) {
  body {
    background-size:auto 100% ;
  }
  /* Force table to not be like tables anymore */
}

@media (max-width: 890px) {
  div#home {
    margin-top: 40px !important;
  }
  body {
    background-size:auto 100% ;
  }
}

.table-title {
  background: #435d7d;
  color: #fff;
}
#dang,#gui {
  width: 10%;
}
