<div class=" form-group row mt-4">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 align-self-center">
    <label style=" font-family: 'Varela Round', sans-serif;" for="input-search"> Tìm Kiếm Sinh Viên:</label>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <select class="form-control" [(ngModel)]="by">
      <option selected disabled>Chọn Mục Tìm Kiếm</option>
      <option value="all">Tất Cả</option>
      <option value="email">Email</option>
      <option value="fullName">Họ Tên</option>
      <option value="studentCode">Mã Số Sinh Viên</option>
    </select>
  </div>
  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
    <input [(ngModel)]="search" class="form-control" type="text" id="input-search" style="width: 100%"
           placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" placeholder="&#xF002;">
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <button type="button" (click)="findStudent()"
            class="btn btn-primary">Tìm Kiếm
    </button>
  </div>
</div>
<div class="row mt-4 ml-0 mr-0 ">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 "
       style="background-color: #435d7d;color: #fffcf3;font-weight: bold;font-size: 24px;font-family: 'Varela Round', sans-serif;">
    <h4 style="text-align: center">Danh Sách Sinh Viên</h4>
  </div>
</div>
<div class="row mt-0">
  <div class="table-responsive mt-0 " style="padding: 15px;padding-top:0px">
    <table class="table" id="table-student">
      <ng-container *ngIf="studentList.length === 0 else elseBlock">
        <th style="margin-top: 30px"><h3>Danh Sách Trống. </h3></th>
      </ng-container>
      <ng-template #elseBlock>
        <thead>
        <tr>
          <th>STT</th>
          <th>Mã SV</th>
          <th>Tên SV</th>
          <th>Email</th>
          <th>Thêm</th>
        </tr>
        </thead>
        <tbody>


        <tr *ngFor="let st of studentList    | paginate: { itemsPerPage: 5, currentPage: p }; let i = index ">
          <td >
            <ng-container *ngIf="test == 'first' else elseBlock1">
              {{i + 1}}
            </ng-container>
            <ng-template #elseBlock1>
              {{(i + 1) + (p - 1) * 5}}
            </ng-template>
          </td>
          <td>{{st?.studentCode}}</td>
          <td >{{st?.fullName}}</td>
          <td>{{st?.email}}</td>
          <td><a (click)="getInfo(st.id,i)" style="color: #0c7ed7"><i
            class="material-icons"
            data-toggle="tooltip" title="Add">&#xf23a;</i></a></td>
        </tr>
        </tbody>
      </ng-template>
    </table>
  </div>


  <!--        pageganation-->

  <div class="row mt-4 justify-content-end " style="width: 100%">
    <div class="box-3  mr-3 ">
      <div align="right" *ngIf="this.studentList.length !== 0">
        <pagination-controls (click)="changePage(p)" (pageChange)="p = $event" previousLabel="Trước" nextLabel="Sau"
                             responsive="true"></pagination-controls>
      </div>
    </div>
  </div>

</div>

