<div *ngIf="message == 'No Choose'">
  <i class="material-icons">error_outline</i>
  <h1>Vui lòng chọn đề tài trước khi đăng ký!</h1>
</div>
<div *ngIf="message == 'Duplicate Statement'">
  <i class="material-icons">error_outline</i>
  <h1>Đề tài đã tồn tại. Vui lòng đăng ký đề tài khác!</h1>
</div>
<div *ngIf="message == 'Unsubscribe Complete'">
  <i class="material-icons" style="color: forestgreen">check_circle</i>
  <h1>Hủy đăng ký đề tài thành công.</h1>
</div>
<div *ngIf="message == 'Cannot Cancel'">
  <i class="material-icons">error_outline</i>
  <h1>Đề tài đã được phê duyệt nên không thể hủy.</h1>
</div>
<div *ngIf="message == 'Error'">
  <i class="material-icons">error_outline</i>
  <h1>Lỗi hệ thống. Vui lòng thử lại sau!</h1>
</div>
<div *ngIf="message == 'Not found'">
  <i class="material-icons">error_outline</i>
  <h1>Không tìm thấy dữ liệu phù hợp.</h1>
</div>
<div *ngIf="message == 'Subscribe Complete'">
  <i class="material-icons" style="color: forestgreen">check_circle</i>
  <h1>Đăng ký đề tài thành công.</h1>
</div>
<div *ngIf="message == 'Duplicate'">
  <i class="material-icons">error_outline</i>
  <h1>Nhóm của bạn đã đăng ký đề tài.</h1>
</div>
<div *ngIf="message == 'Subscribed'">
  <i class="material-icons">error_outline</i>
  <h1>Đề tài này đã được nhóm khác đăng ký.</h1>
</div>
<div *ngIf="message == 'Exceed'">
  <i class="material-icons">error_outline</i>
  <h1>Số lượng sinh viên không phù hợp.</h1>
</div>
<div *ngIf="message == 'Jurisdiction Subscribe'">
  <i class="material-icons">error_outline</i>
  <h1>Bạn không có quyền đăng ký đề tài.</h1>
</div>
<div *ngIf="message == 'Jurisdiction Unsubscribe'">
  <i class="material-icons">error_outline</i>
  <h1>Bạn không có quyền hủy đăng ký đề tài.</h1>
</div>
<div class="row justify-content-end">
  <button mat-dialog-close (click)="close()" class="btn btn-primary">OK</button>
</div>
