

<div class="container-fluid ">

  <form [formGroup]="formEditStudent" (ngSubmit)="editStudent()">
    <h2 class="row d-flex justify-content-center">SỬA SINH VIÊN</h2>
    <hr>

    <div class="form-group row ">
      <label class="col-sm-3 col-form-label">Mã SV <sup class="text-danger">*</sup> </label>
      <div class="col-sm-8">
        <input type="text" disabled min="1" class="form-control form-control-sm" formControlName="studentCode">
      </div>
      <label class="ml-2 text-success" *ngIf="formEditStudent.get('studentCode').valid"><i style="font-size: 15px" class="fa fa-check"></i></label>
      <div class="text-danger offset-md-3 px-3">
      <span
        *ngIf="formEditStudent.get('studentCode').hasError('required') && formEditStudent.get('studentCode').touched">Mã SV không được để trống.</span>
        <span
          *ngIf="formEditStudent.get('studentCode').hasError('pattern') && formEditStudent.get('studentCode').touched">Mã SV không đúng định dạng.(Vd: SV-xxxx).</span>
        <span
          *ngIf="formEditStudent.get('studentCode').hasError('whiteSpace') && formEditStudent.get('studentCode').touched">Mã SV không được chứa khoảng trắng.</span>
      </div>
    </div>
    <div class="form-group row ">
      <label class="col-sm-3 col-form-label">Họ và tên <sup class="text-danger">*</sup> </label>
      <div class="col-sm-8">
        <input type="text" min="1" class="form-control form-control-sm" formControlName="fullName" >
      </div>
      <label class="ml-2 text-success" *ngIf="formEditStudent.get('fullName').valid"><i style="font-size: 15px" class="fa fa-check"></i></label>
      <div class="text-danger offset-md-3 px-3">
      <span
        *ngIf="formEditStudent.get('fullName').hasError('required') && formEditStudent.get('fullName').touched">Họ và tên không được để trống.</span>
        <span
          *ngIf="formEditStudent.get('fullName').hasError('specialCharacter') && formEditStudent.get('fullName').touched">Họ và tên không có kí tự đặt biệt.</span>
        <span
          *ngIf="formEditStudent.get('fullName').hasError('minlength') && formEditStudent.get('fullName').touched">Họ và tên phải nhiều hơn 5 ký tự.</span>
        <span
          *ngIf="formEditStudent.get('fullName').hasError('maxlength') && formEditStudent.get('fullName').touched">Họ và tên phải ít hơn 50 ký tự.</span>
        <span
          *ngIf="formEditStudent.get('fullName').hasError('cannotContainSpace') && formEditStudent.get('fullName').touched">Họ tên không được chứa khoảng trắng.</span>
      </div>
    </div>
<!--    <div class="form-group row ">-->
<!--      <label class="col-sm-3 col-form-label">GV hướng dẫn:<sup class="text-danger">*</sup> </label>-->
<!--      <div class="col-sm-8" *ngIf="list1">-->
<!--        <select class="form-control d-flex justify-content-start" formControlName="teacher" required>-->
<!--          <option *ngFor="let teacher of list1" [value]="teacher.fullName">{{teacher.fullName}}</option>-->
<!--        </select>-->
<!--      </div>-->
<!--      <label class=" ml-2 text-success" *ngIf="formEditStudent.get('teacher').valid"><i style="font-size: 15px" class="fa fa-check"></i></label>-->
<!--    </div>-->
<!--    <div class="form-group row ">-->
<!--      <label class="col-sm-3 col-form-label">Tên đề tài<sup class="text-danger">*</sup> </label>-->
<!--      <div class="col-sm-8" *ngIf="list2">-->
<!--        <select class="form-control d-flex justify-content-start" formControlName="topic" required>-->
<!--          <option *ngFor="let thesis of list2" [value]="thesis.statement">{{thesis.statement}}</option>-->
<!--        </select>-->
<!--      </div>-->
<!--      <label class=" ml-2 text-success" *ngIf="formEditStudent.get('topic').valid"><i style="font-size: 15px" class="fa fa-check"></i></label>-->
<!--    </div>-->
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Email: <sup class="text-danger">*</sup> </label>
      <div class="col-sm-8">
        <input type="text" min="1" class="form-control form-control-sm" formControlName="email">
      </div>
      <label class="ml-2 text-success"
             *ngIf="formEditStudent.get('email').valid">
        <i style="font-size: 15px" class="fa fa-check"></i></label>
      <div class="text-danger offset-md-3 px-3">
        <span  *ngIf="formEditStudent.get('email').hasError('email') && formEditStudent.get('email').touched">Email không đúng định dạng.(Vd: xxxxxxxxx@gmail.com).</span>
        <span *ngIf="formEditStudent.get('email').hasError('required') && formEditStudent.get('email').touched"
        >Email không được để trống.</span>
        <span
          *ngIf="formEditStudent.get('email').hasError('maxlength') && formEditStudent.get('email').touched">Email phải có ít hơn 50 ký tự.</span>
      </div>
    </div>
    <div class="form-group row ">
      <label class="col-sm-3 col-form-label">Số điện thoại:<sup class="text-danger">*</sup> </label>
      <div class="col-sm-8">
        <input type="text"  class="form-control form-control-sm" formControlName="phone" required>
      </div>
      <label class="ml-2 text-success"
             *ngIf="formEditStudent.get('phone').valid">
        <i style="font-size: 15px" class="fa fa-check"></i></label>
      <div class="text-danger offset-md-3 px-3">
      <span
        *ngIf="formEditStudent.get('phone').hasError('required') && formEditStudent.get('phone').touched">Số điện thoại không được để trống.</span>
        <span
          *ngIf="formEditStudent.get('phone').hasError('format') && formEditStudent.get('phone').touched">Số điện thoại không đúng định dạng.(vd: 09xxxxxxxx, 08xxxxxxxxx, 03xxxxxxxx).</span>
        <span
          *ngIf="formEditStudent.get('phone').hasError('phoneAlpha') && formEditStudent.get('phone').touched">Số điện thoại phải là số.</span>
      </div>
    </div>


    <div class="row d-flex justify-content-center ml-4">
      <div class="row ">
        <button class="btn btn-secondary mr-3" [mat-dialog-close]="">Hủy</button>
        <button [disabled]="formEditStudent.invalid" class="btn btn-warning mr-3"
                (click)="editStudent()">Sửa
        </button>
      </div>
    </div>
  </form>
</div>
