<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Thống kê</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <label for="">Yêu cầu thống kê</label>
      <select name="" id="" [(ngModel)]="selection">
        <option value="thesis">Tình trạng đăng kí đề tài</option>
        <option value="teacher">Tình trạng đăng kí giáo viên</option>
      </select>
    </div>
    <div class="col-lg-2">
      <button class="btn btn-primary">Thống kê</button>
    </div>
  </div>
  <!--  teacher statistics-->
  <div *ngIf="selection == 'teacher'">
    <!--    table-->
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Mã giáo viên</th>
            <th scope="col">Tên giáo viên</th>
            <th scope="col">Số lượng sinh viên đăng kí</th>
            <th scope="col">Tình trạng</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let teacher of teacherList; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{teacher.teacherCode}}</td>
            <td>{{teacher.fullName}}</td>
            <td>{{teacher.studentNumber}}</td>
            <td>Đã đầy</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--    table end -->
    <div class="row m-1">
      <div class="col-lg-2 col-md-6">
        <span>Số lượng giáo viên</span>
      </div>
      <div class="col-lg-2 col-md-6">
        <input type="text" class="form-control" [value]="teacherList.length">
      </div>
    </div>
    <div class="row m-1">
      <div class="col-lg-2 col-md-6">
        <span>Số lượng giáo viên hết chỗ</span>
      </div>
      <div class="col-lg-2 col-md-6">
        <input type="text" class="form-control" value="0">
      </div>
    </div>
    <div class="row m-1">
      <div class="col-lg-2 col-md-6">
      </div>
      <div class="col-lg-2 col-md-6">
        <button class="btn btn-primary">In báo cáo</button>
      </div>
    </div>
  </div>
  <!--  teacher statistics end-->
  <!--  thesis statistics-->
  <div *ngIf="selection == 'thesis'">
    <!--    table-->
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Mã đề tài</th>
            <th scope="col">Tên đề tài</th>
            <th scope="col">Tên giáo viên</th>
            <th scope="col">Tên sinh viên</th>
            <th scope="col">Số lượng đăng kí</th>
            <th scope="col">Kiểm duyệt</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let student of studentList; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{student.studentGroup.checkThesis.thesis.thesisCode}}</td>
            <td>{{student.studentGroup.checkThesis.thesis.statement}}</td>
            <td>{{student.studentGroup.teacher.fullName}}</td>
            <td>{{student.fullName}}</td>
            <td>{{student.studentGroup.quantity}}</td>
            <td><input type="checkbox" checked></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--    table end -->
    <div class="row m-1">
      <div class="col-lg-2 col-md-6">
        <span>Số lượng đề tài</span>
      </div>
      <div class="col-lg-2 col-md-6">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row m-1">
      <div class="col-lg-2 col-md-6">
        <span>Số lượng đề tài trùng</span>
      </div>
      <div class="col-lg-2 col-md-6">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row m-1">
      <div class="col-lg-2 col-md-6">
        <span>Số lượng đề tài kiểm duyệt</span>
      </div>
      <div class="col-lg-2 col-md-6">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row m-1">
      <div class="col-lg-2 col-md-6">
      </div>
      <div class="col-lg-2 col-md-6">
        <button class="btn btn-primary">In báo cáo</button>
      </div>
    </div>
  </div>
  <!--  thesis statistics end-->

</div>
