<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Thống kê</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <label for="">Yêu cầu thống kê</label>
      <select name="" id="">
        <option value="">Tình trạng đăng kí đề tài</option>
        <option value="">Tình trạng đăng kí giáo viên</option>
      </select>
    </div>
    <div class="col-lg-2">
      <button class="btn btn-primary">Thống kê</button>
    </div>
  </div>
  <!--    table-->
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Mã giáo viên</th>
          <th scope="col">Tên giáo viên</th>
          <th scope="col">Số lượng sinh viên đăng kí</th>
          <th scope="col">Tình trạng</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>GV01</td>
          <td>T Marvel</td>
          <td>1</td>
          <td>Còn trống</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>GV02</td>
          <td>T DC</td>
          <td>1</td>
          <td>Còn trống</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>GV03</td>
          <td>T T</td>
          <td>1</td>
          <td>Hết chỗ</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--    table end -->
  <div class="row m-1">
    <div class="col-lg-2 col-md-6">
      <span>Số lượng giáo viên</span>
    </div>
    <div class="col-lg-2 col-md-6">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row m-1">
    <div class="col-lg-2 col-md-6">
      <span>Số lượng giáo viên hết chỗ</span>
    </div>
    <div class="col-lg-2 col-md-6">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row m-1">
    <div class="col-lg-2 col-md-6">
    </div>
    <div class="col-lg-2 col-md-6">
      <button class="btn btn-primary">In báo cáo</button>
    </div>
  </div>
</div>
