<div style="text-align: center">
  <h1 class="d-flex justify-content-center "> XÁC NHẬN XÓA </h1>
  <hr>
  <h5 class="my-3 font-weight-bold">Bạn có chắc chắn muốn xóa câu hỏi này?</h5>
  <p style="color: deeppink">Hành động này không thể hoàn tác !</p>
  <hr>
  <div class="row d-flex justify-content-center">
    <button mat-dialog-close class="btn btn-secondary mr-3" style="width: 100px">Hủy</button>
    <button class="btn btn-success mr-3" style="width: 100px" (click)="deleteQuestion()">Xác Nhận</button>
  </div>
</div>
