@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr';

.app-full-bleed-dialog .mat-dialog-container {
  padding: 0;
}

