<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Thống kê</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <label for="">Yêu cầu thống kê</label>
      <select name="" id="">
        <option value="">Tình trạng đăng kí đề tài</option>
        <option value="">Tình trạng đăng kí giáo viên</option>
      </select>
    </div>
    <div class="col-lg-2">
      <button class="btn btn-primary">Thống kê</button>
    </div>
  </div>
  <!--    table-->
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Mã đề tài</th>
          <th scope="col">Tên đề tài</th>
          <th scope="col">Tên giáo viên</th>
          <th scope="col">Tên sinh viên</th>
          <th scope="col">Số lượng đăng kí</th>
          <th scope="col">Kiểm duyệt</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>MA01</td>
          <td>Bảo mật trang web</td>
          <td>T Marvel</td>
          <td>Nguyễn Văn A</td>
          <td>1</td>
          <td><input type="checkbox" checked></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>MA02</td>
          <td>Tối ưu hệ thống</td>
          <td>T DC</td>
          <td>Nguyễn Văn B</td>
          <td>1</td>
          <td><input type="checkbox" checked></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>MA03</td>
          <td>Quản lí cơ sở dữ liệu</td>
          <td>T T</td>
          <td>Nguyễn Văn C</td>
          <td>1</td>
          <td><input type="checkbox" checked></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--    table end -->
  <div class="row m-1">
    <div class="col-lg-2 col-md-6">
      <span>Số lượng đề tài</span>
    </div>
    <div class="col-lg-2 col-md-6">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row m-1">
    <div class="col-lg-2 col-md-6">
      <span>Số lượng đề tài trùng</span>
    </div>
    <div class="col-lg-2 col-md-6">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row m-1">
    <div class="col-lg-2 col-md-6">
      <span>Số lượng đề tài kiểm duyệt</span>
    </div>
    <div class="col-lg-2 col-md-6">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row m-1">
    <div class="col-lg-2 col-md-6">
    </div>
    <div class="col-lg-2 col-md-6">
      <button class="btn btn-primary">In báo cáo</button>
    </div>
  </div>
</div>
